:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* line-height: 1.5; */
    font-weight: 400;

    color-scheme: light dark;
    color: #c0c0c0;
    background-color: #111113;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #23AFD0;
    --secondary-color: #FFC53D;

    --ui-bg: #212225;
    --ui-border: #5A6169;
    --ui-muted: #B0B4BA;
    --ui-chip-bg: #111113;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

.back-btn {
    position: fixed;
    top: 8px;
    left: 8px;

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2E3135;
    color: #fff;
    text-decoration: none;
    transition: border-color 0.25s;
    line-height: 1;
    z-index: 1000;
}

.back-btn:hover {
    border-color: #23AFD0;
}

h1 {
    color: #eeeeee;
    font-size: 2.2em;
    line-height: 1.1;
}

#app {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.responsive-svg {
    display: block;
    width: 100%;
    aspect-ratio: auto;
    max-height: 75vh;
    margin: auto;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #eeeeee;
    background-color: #2E3135;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #23AFD0;
    color: #23AFD0;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.figure-nav {
    padding: 1em;
}

select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #eeeeee;
    background-color: #2E3135;
    cursor: pointer;
    transition: border-color 0.25s;
}

select:hover {
    border-color: #23AFD0;
}

select:focus,
select:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}