.figure-panel {
  display: grid;
  place-items: center;
  /* min-height: 100vh; */
}


.dir-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 8px;
  border: 2px solid #5A6169;
  border-radius: 6px;
  width: fit-content;
  background-color: #2E3135;
  flex-wrap: nowrap;
}

.dir-list li {
  padding: 8px 12px;
  border: 2px solid #5A6169;
  border-radius: 6px;
  background-color: #212225;
  cursor: grab;
  user-select: none;
  width: 4em;
}

.dir-list li:active {
  cursor: grabbing;
}

.dir-list li.dragging {
  opacity: 0.5;
}

.dir-list li.over {
  outline: 2px dashed #23AFD0;
  /* outline-offset: -2px; */
}